@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Noto+Serif+Khmer:wght@300&display=swap');{
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    color: #363636;
    text-decoration: none;
    background-color: #73e8ff;
    border: #363636 2px solid;
} 
#logo {
    color: #363636;
    font-size: 250%;
    line-height: 50px;
    left: 30px;
    
    
}
a {
    text-decoration: none;
}
#navbar {
    display: flex;
    font-size: 100%;


    
}
#navbar li {
    display: flex;
    margin: 10px;
    list-style-type: none;
    font-size: 20px; 
    line-height: 50px;
    color: #363636;
    
}
#navbar a {
    text-decoration: none;
    color: #363636;
}
#navbar a:hover {
    border: 1px solid #363636;
}
/*Image section in header*/
#image {
display: flex;
position: relative;
border: #363636 2px solid;
border-top: none;
}

#image img {
    flex: 1;
    height: auto;
    max-width: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}
#image-text {
    position: absolute;
    bottom: 30px;
    left: 5px;
    color: #363636;
    border: 2px solid;
    width: 300px;
    background-color: #73e8ff;
    border: #363636 2px solid;
    
   
}
#about-us {
    width: 100%;
    height: 100%;
    font-size: 200%;
    padding-top: 20px;
    padding-left: 10px;
    border: #363636 2px solid;
    border-top: none;
    color: #363636;
    background-color: ;
}